<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="#{COMMONJSFILE}#"></script>
        <script type="text/javascript"><!--
            function makeRequest() {
                var data = new FormData();

                data.append("utf8", "â");

                var base64ImageData = "#{FILECONTENT}#";

                var blob = new Blob([base64ToByteArray(base64ImageData)], {type: "#{MIMETYPE}#"});

                data.append("file", blob, "#{FILENAME}#");

                sendRequest("http://www.ascii2d.net/search/file", "http://www.ascii2d.net/", data);
            }
        -->
        </script>
    </head>
    <body onload="makeRequest();">
        <div id="progress" style="text-align:center;">
            Please wait...
        </div>
    </body>
</html>
