<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="#{COMMONJSFILE}#"></script>
        <script type="text/javascript"><!--
            function makeRequest() {
                var data = new FormData();

                data.append("pos", "upload");
                data.append("uptype", "upload_pc");
                data.append("fm", "index");

                var base64ImageData = "#{FILECONTENT}#";

                var blob = new Blob([base64ToByteArray(base64ImageData)], {type: "#{MIMETYPE}#"});

                data.append("image", blob, "#{FILENAME}#");

                sendRequest("http://image.baidu.com/pictureup/uploadshitu", "http://www.baidu.com/", data);
            }
        -->
        </script>
    </head>
    <body onload="makeRequest();">
        <div id="progress" style="text-align:center;">
            Please wait...
        </div>
    </body>
</html>
